block variables

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="styles/about.css")
        include styles
        title= pageTitle
    body
        include header
        main
            article
                section.about
                    .about-description
                        h1 О магазине ФЕТЧ
                        p В магазине Фетч представлено более 100 ведущих мировых производителей одежды и обуви. 
                        p Разнообразие ассортимента обеспечивают товары культовых брендов современности: Barbour, Fred Perry, Norse Projects, Edwin и капсульные коллекции компаний, делающих ставку на эксклюзивность и премиальный статус своей продукции — Stone Island, Polo Ralph Lauren, C.P. Company.
                        p Приобрести последние можно лишь в нескольких торговых точках по всему миру, включая Фетч. 
                        p Особый повод для гордости — обширная подборка редких и культовых кроссовок adidas Originals, Nike, New Balance, ASICS, Reebok и другие.

                    .about-contact
                        p Москва, Тимирязевская, 3
                        a(href="mailto:shop@fetch.ru") shop@fetch.ru
                        a(href="tel:8 800 912-11-42") 8 800 912-11-42
                        span Звонок бесплатный
                        p
                            p  
                                |ИНН/КПП: 2901152637 / 290101001 ОГРН: 1062901063576 БИК: 041117601, к/с 30101810100000000601 
                            p
                                |Расчетный счет: 40702810004000103812 в отделении N8637 Сбербанка России, Архангельск
                            p
                                |Генеральный директор — Василенко Артём Викторович
        include footer