doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="styles/checkout.css")
        link(rel="stylesheet", href="styles/normalize.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap")
        title Фетч - Корзина
    body
        main
            article
                h1.checkout-header Фетч - Оформление заказа
                .checkout-section
                    section.checkout
                        .checkout-item
                            img(src="assets/checkout/img.png", alt="alt")
                            .checkout-item-ndp
                                p.checkout-item-name Maison Margiela Fusion Low Sneakers
                                P.checkout-item-description Кроссовки
                                P.checkout-item-price 92 000P
                        .checkout-item
                            img(src="assets/checkout/img.png", alt="alt")
                            .checkout-item-ndp
                                p.checkout-item-name Maison Margiela Fusion Low Sneakers
                                P.checkout-item-description Кроссовки
                                P.checkout-item-price 92 000P
                        .checkout-item
                            img(src="assets/checkout/img.png", alt="alt")
                            .checkout-item-ndp
                                p.checkout-item-name Maison Margiela Fusion Low Sneakers
                                P.checkout-item-description Кроссовки
                                P.checkout-item-price 92 000P
                        hr
                        .order-price
                            p 276 000P
                            span Доставка бесплатно
                    section.form
                        form(action="")
                            .tel
                                label Эл.Почта
                                input(type="text" value="petrov@yandex.ru")
                            p Пришлем чек и трек-номер
                            .tel
                                label Телефон
                                input(type="text" value="+7 999 275-12-37")
                            p Пришлем чек и трек-номер
                            .tel
                                label Город
                                input(type="text" value="Москва")
                            .tel
                                label Адрес
                                textarea.input-sity Тимирязевская, 32, квартира 99, вход со двора"
                        .order
                            p Бесплатная<br>доставка курьером.<br>Оплата картой онлайн.
                            a(href="checkoutok.html") Оформить заказ, 276 000Р

                