doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="styles/footwear.css")
        link(rel="stylesheet", href="styles/normalize.css")
        title= pageTitle
    body
        include header
        main
            article
                section.footwear-section
                    //- .footwear
                    //-     span Обувь
                    .footwear-list
                        .footwear
                            p Обувь
                        //- .footwear-item
                        //-     img.footwear-image(src="assets/item1.png", alt="alt")
                        //-     a(href="").footwear-header Maison Margiela Fusion Low Sneakers
                        //-     span.footwear-description Кросовки
                        //-     span.footwear-price 92 000
                        //- .footwear-item
                        //-     img(src="assets/item1.png", alt="alt")
                        //-     a(href="").footwear-header Maison Margiela Fusion Low Sneakers
                        //-     span.footwear-description Кросовки
                        //-     span.footwear-price 92 000
                        //- .footwear-item
                        //-     img(src="assets/item1.png", alt="alt")
                        //-     a(href="").footwear-header Maison Margiela Fusion Low Sneakers
                        //-     span.footwear-description Кросовки
                        //-     span.footwear-price 92 000
                        //- .footwear-item
                        //-     img(src="assets/item1.png", alt="alt")
                        //-     a(href="").footwear-header Maison Margiela Fusion Low Sneakers
                        //-     span.footwear-description Кросовки
                        //-     span.footwear-price 92 000
                    //-     .footwear-item
                    //-         img(src="assets/item1.png", alt="alt")
                    //-         span.footwear-header Maison Margiela Fusion Low Sneakers
                    //-         span.footwear-description Кросовки
                    //-         span.footwear-price 92 000
                    //-     .footwear-item
                    //-         img(src="assets/item1.png", alt="alt")
                    //-         span.footwear-header Maison Margiela Fusion Low Sneakers
                    //-         span.footwear-description Кросовки
                    //-         span.footwear-price 92 000
                    //-     .footwear-item
                    //-         img(src="assets/item1.png", alt="alt")
                    //-         span.footwear-header Maison Margiela Fusion Low Sneakers
                    //-         span.footwear-description Кросовки
                    //-         span.footwear-price 92 000
                    //-     .footwear-item
                    //-         img(src="assets/item1.png", alt="alt")
                    //-         span.footwear-header Maison Margiela Fusion Low Sneakers
                    //-         span.footwear-description Кросовки
                    //-         span.footwear-price 92 000
        include footer
        script(src="scripts/footwear.js")