header
    nav.header-menu
        ul
            a(href="index.html").header-menu-logo Фетч
            li
                a(href="") Одежда
            li
                a(href="footwear.html") Обувь
            li
                a(href="") Аксессуары
            li
                a(href="") Блог
            li
                a(href="about.html") Магазин
            li
                a(href="") Доставка и оплата
        .header-menu-cart
            .count
                span 4
            a.menu-header(href="checkout.html") 
                img(src="assets/cart.png", alt="basket")
                span.header-menu-basket
            
    