.description
            span.description-header Фетч - 
            span.desctiption-text мультибрендовый магазин модной одежды. 
                |Следим за трендами и часто обновляем ассортимент. Доставляем по Москве за день, по России — за неделю.
nav.main-menu
        .formen
            ul
                span
                    a(href="") Для мужчин
                li
                    a(href="") Верхняя одежда
                li
                    a(href="") Рубашки и поло
                li
                    a(href="") Трикотаж
                li
                    a(href="") Брюки и джинсы
                li
                    a(href="") Бельё и носки
        .forwomen
            ul
                span
                    a(href="") Для женщин
                li
                    a(href="") Верхняя одежда
                li
                    a(href="") Рубашки и поло
                li
                    a(href="") Трикотаж
                li
                    a(href="") Платья и юбки
                li
                    a(href="") Бельё и носки

        .footwear
            ul
                span
                    a(href="") Обувь
                li
                    a(href="") Кросовки и кеды
                li
                    a(href="") Ботинки

        .accessories
            ul  
                span
                    a(href="") Аксессуары
                li
                    a(href="") Сумки и рюкзаки
                li
                    a(href="") Часы
                li
                    a(href="") Бижутерия
                li 
                    a(href="") Средства для ухода

        .discounts
            ul
                span
                    a(href="") Скидки
                li
                    a(href="") Летняя распродажа
                li
                    a(href="") Коллекция 2018