script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")
script $('.header-slider').slick(
    |{
    //- |    prevArrow: '<img src="assets/right.png", alt="next">',
    //- |    nextArrow: '<img src="assets/right.png", alt="pre">'
    |}
    |);