.header-content
    .header-slider
        .slider-content
            img(src="assets/slider1.png", alt="alt")
            .slider-text
                a(href="") Reebok Aztrek<br>Double
        .slider-content
            img(src="assets/slider2.png", alt="alt")
            .slider-text
                a(href="") Nike ACG: навстречу<br>новым открытиям
