@charset "UTF-8";
body {
  max-width: 1440px;
  margin: 0 auto !important;
  font-family: 'PT Sans', sans-serif; }

span {
  white-space: pre-wrap; }

article {
  width: 90%;
  margin: 0 auto; }

h1 {
  font-weight: bold; }

.recommendations {
  width: 100%; }

.recommendations-slider {
  width: 80%;
  margin: auto; }

.slider-recommendations {
  margin: auto; }

.slider-recommendations img {
  width: 90%;
  height: auto; }

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.header-menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: auto;
  overflow-y: hidden; }

.header-menu-logo {
  margin-right: 42px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-decoration: none; }

.header-menu li {
  margin-left: 24px;
  white-space: pre; }

.header-menu li a {
  color: black; }

.header-menu li a:hover {
  color: #4541FE; }

.header-menu-basket::before {
  margin-left: 6px;
  content: "Оформить заказ"; }

.menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-menu-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

.count {
  position: absolute;
  top: -7px;
  left: 10px;
  background: blue;
  border-radius: 100%;
  width: 16px;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 13px;
  padding: 0px; }

footer {
  padding-bottom: 16px;
  background: black; }

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white; }

footer li {
  margin-left: 17px;
  margin-bottom: 8px;
  list-style-type: none; }

footer nav li a:hover {
  opacity: 0.5; }

footer ul span {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 12px; }

.mail {
  display: inline-block;
  margin-bottom: 32px; }

.freeTel a {
  font-weight: bold;
  text-decoration: none; }

.freeCall {
  padding: 0px;
  margin: 0px;
  font-size: 13px; }

footer ul a {
  color: white; }

.police {
  color: #666666;
  margin-left: 40px;
  font-size: 13px; }

.police a {
  color: #666666;
  margin-left: 24px;
  font-weight: normal; }

.police a:hover {
  color: white; }

/*MOBILE STYLE*/
@media all and (min-width: 320px) and (max-width: 639px) {
  .header-menu-basket::before {
    margin-left: 6px;
    content: "";
    display: none; }
  .slider-text {
    max-width: 320px;
    margin-left: 16px;
    margin-bottom: 32px; }
  .header-menu-logo {
    margin-right: 16px; }
  .slider-text a {
    font-size: 48px; }
  .header-menu ul {
    padding-left: 0px;
    margin-left: 16px; }
  .header-menu a {
    margin-left: 16px;
    margin-right: 8px; }
  .header-slider {
    height: 600px;
    background: red; }
  .header-slider img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 600px;
    /*main-menu*/ }
  .main-menu-style {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .main-menu-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .description {
    margin-left: 9px !important; }
  .main-menu li {
    margin-left: 0px;
    /*main-content*/ }
  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .luckbook {
    overflow: hidden;
    margin: 0px;
    width: 100%; }
  .luckbook img {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto; }
  .newcollection {
    height: 370px;
    width: 100%;
    overflow: hidden;
    margin: 0px; }
  .newcollection img {
    left: 10px;
    top: 50px;
    width: 100%;
    height: auto; }
  .editors-choice {
    margin: 0px;
    width: 100%; }
  .editors-choice p {
    margin-top: 0px; }
  .fromeditors {
    width: 100%;
    /*PRE ORDER STYLE*/ }
  .pre-order {
    height: 400px;
    overflow: hidden; }
  .pre-order-style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
    margin-top: 90px;
    margin-left: -40px; }
  .pre-order-style img {
    width: 37%;
    height: auto;
    /*footer*/ }
  footer nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  footer nav ul {
    padding: 0;
    margin-left: 16px; }
  .police {
    margin-left: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 12px; }
  .police a {
    margin: 12px 0px 0px 0px; }
  .police span {
    margin-top: 56px; }
  article.item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .item-list {
    width: 100%; }
  .option-color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .option-color p {
    margin-top: 4px;
    margin-bottom: 0px; }
  .option-color p:last-child {
    margin-bottom: 24px; }
  .option-color span {
    margin-bottom: 8px; }
  .option-color, .option-size, .option-table-size, .option-bay {
    margin-left: 16px; }
  .footwear-option {
    width: 100%;
    padding: 24px 0px 32px 0px; }
  .option-size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .option-size-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .footwear-list {
    width: 100%; }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0px; }
  .about-description {
    width: 90%; }
  .about-contact {
    width: 90%; }
  .recommendations {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 16px; } }

@media all and (min-width: 640px) and (max-width: 1199px) {
  .header-menu-basket::before {
    margin-left: 6px;
    content: "";
    display: none; }
  .header-menu a {
    margin-left: 16px;
    margin-right: 8px; }
  .header-menu ul {
    padding: 0;
    margin-left: 16px; }
  .slider-text {
    max-width: 640px;
    margin-left: 16px;
    margin-bottom: 32px; }
  .slider-text a {
    font-size: 48px; }
  /*main-menu*/
  .main-menu {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  /*main-content*/
  .newcollection {
    overflow: hidden; }
  .newcollection img {
    left: 20px;
    top: 110px;
    width: 100%;
    height: auto; }
  .luckbook img {
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: auto;
    /*PRE ORDER STYLE*/ }
  .pre-order {
    overflow: hidden; }
  .pre-order-style {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .pre-order-style img {
    width: 30%;
    height: auto; }
  /*footer*/
  footer nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  footer nav div {
    width: 300px; }
  footer nav ul {
    padding: 0;
    margin-left: 16px; }
  .police {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 12px;
    margin-left: 16px !important; }
  .police a {
    margin: 12px 0px 0px 0px; }
  .police span {
    margin-top: 56px; }
  .recommendations {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 16px; }
  .option-color, .option-size, .option-table-size, .option-bay {
    margin-left: 16px; }
  .footwear-option {
    width: 100%;
    padding: 24px 0px 32px 0px; }
  .option-size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .option-size-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; } }
