footer {
  padding-bottom: 16px;
  background: black; }

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white; }

footer li {
  margin-left: 17px;
  margin-bottom: 8px;
  list-style-type: none; }

footer nav li a:hover {
  opacity: 0.5; }

footer ul span {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 12px; }

.mail {
  display: inline-block;
  margin-bottom: 32px; }

.freeTel a {
  font-weight: bold;
  text-decoration: none; }

.freeCall {
  padding: 0px;
  margin: 0px;
  font-size: 13px; }

footer ul a {
  color: white; }

.police {
  color: #666666;
  margin-left: 40px;
  font-size: 13px; }

.police a {
  color: #666666;
  margin-left: 24px;
  font-weight: normal; }

.police a:hover {
  color: white; }
