.main-menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 16px; }

.main-menu {
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.main-menu li {
  margin-left: 9px;
  margin-bottom: 8px;
  list-style-type: none; }

.main-menu li a {
  color: #4541FE; }

.main-menu ul span a {
  color: #4541FE; }

.main-menu ul span {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 12px; }

.description {
  margin-left: 40px;
  margin-top: 16px;
  width: 240px; }

.desctiption-text {
  font-size: 18px; }

.description-header {
  font-size: 18px;
  font-weight: bold; }
